{% load static %}

{% if forloop.counter == 1 %}
    {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep1.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v1.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep1.jpg' %}">
    <a href="{% url 'unlock_video' 1 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep1.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 01 - The Complete Trading Course For Beginners</p>
    </div>

{% elif forloop.counter == 2 %}
    {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep2.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v2.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep2.jpg' %}">
    <a href="{% url 'unlock_video' 2 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
    {% else %}
    <img src="{% static 'tutorials/ep2.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 02 - Candle Stick Basic</p>
    </div>

{% elif forloop.counter == 3 %}
{% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep3.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v3.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep3.jpg' %}">
    <a href="{% url 'unlock_video' 3 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
    {% else %}
    <img src="{% static 'tutorials/ep3.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 03 - Time frame | Type of Trade</p>
    </div>

{% elif forloop.counter == 4 %}
        {% if video.is_unlocked and video.watched_previous %}
        <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep3.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
            <source src="{% static 'tutorials/v4.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% elif not video.is_unlocked and video.watched_previous %}
        <img src="{% static 'tutorials/ep4.jpg' %}">
        <a href="{% url 'unlock_video' 4 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
        {% else %}
        <img src="{% static 'tutorials/ep4.jpg' %}">
        <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
        {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 04 - Support and Resistance | How to Found</p>
    </div>

{% elif forloop.counter == 5 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep5.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v5.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep5.jpg' %}">
    <a href="{% url 'unlock_video' 5 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep5.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 05 - 3 Major Trends | Up trend | Down Trend | Sidewise Trend</p>
    </div>

{% elif forloop.counter == 6 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep6.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v6.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep6.jpg' %}">
    <a href="{% url 'unlock_video' 6 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep6.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 06 - Top 3 Indicators | Moving average | RSI</p>
    </div>

{% elif forloop.counter == 7 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep7.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v7.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep7.jpg' %}">
    <a href="{% url 'unlock_video' 7 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep7.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 07 - Volume Analysis Basic</p>
    </div>

{% elif forloop.counter == 8 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep8.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v8.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep8.jpg' %}">
    <a href="{% url 'unlock_video' 8 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
    {% else %}
    <img src="{% static 'tutorials/ep8.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 08 - Swing Trade Basic | How to Trade</p>
    </div>

{% elif forloop.counter == 9 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep9.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v9.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep9.jpg' %}">
    <a href="{% url 'unlock_video' 9 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
    {% else %}
    <img src="{% static 'tutorials/ep9.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 09 - Parallel Channel | Up and Down Trend | How to Trade</p>
    </div>

{% elif forloop.counter == 10 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep10.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v10.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep10.jpg' %}">
    <a href="{% url 'unlock_video' 10 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep10.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 10 - Parallel  Channel Breakout | How to Trade</p>
    </div>

{% elif forloop.counter == 11 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep11.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v11.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep11.jpg' %}">
    <a href="{% url 'unlock_video' 11 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep11.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 11 - Head And Shoulders Pattern  | How to Trade</p>
    </div>

{% elif forloop.counter == 12 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep12.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v12.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep12.jpg' %}">
    <a href="{% url 'unlock_video' 12 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep12.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 12 - Double Bottom Pattern | How to Trade</p>
    </div>

{% elif forloop.counter == 13 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep13.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v13.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep13.jpg' %}">
    <a href="{% url 'unlock_video' 13 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep13.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 13 - Paper Trading Platform | Trading View Basic</p>
    </div>


{% elif forloop.counter == 14 %}

<div class="mt-0 mb-4 border-none" style="text-align: center; background-color: #f9f9f9; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
    <h2 style="margin-bottom: 0; font-size: 24px; color: #1a1a1a; font-weight: bold;">Learn Trading Course</h2>
    <p style="margin-top: 5px; font-size: 16px; color: #4d4d4d;">From Basic Part 02 (Episodes 14 to 27)</p> 
</div>

        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep14.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v14.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep14.jpg' %}">
    <a href="{% url 'unlock_video' 14 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
    {% else %}
    <img src="{% static 'tutorials/ep14.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 14 - Type of Indicators | Moving Average Trading Strategy</p>
    </div>

{% elif forloop.counter == 15 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep15.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v15.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep15.jpg' %}">
    <a href="{% url 'unlock_video' 15 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
    {% else %}
    <img src="{% static 'tutorials/ep15.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 15 - Cup and Handle Pattern | How to Trade</p>
    </div>

{% elif forloop.counter == 16 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep16.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v16.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep16.jpg' %}">
    <a href="{% url 'unlock_video' 16 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
    {% else %}
    <img src="{% static 'tutorials/ep16.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 16 - Rising Wedge Pattern | How to Trade</p>
    </div>

{% elif forloop.counter == 17 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep17.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v17.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep17.jpg' %}">
    <a href="{% url 'unlock_video' 17 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep17.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 17 - Falling Wedge Pattern | How to Trade</p>
    </div>

{% elif forloop.counter == 18 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep18.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v18.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep18.jpg' %}">
    <a href="{% url 'unlock_video' 18 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep18.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 18 - Triple Bottom Pattern | How to Trade</p>
    </div>

{% elif forloop.counter == 19 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep19.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v19.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep19.jpg' %}">
    <a href="{% url 'unlock_video' 19 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep19.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 19 - Hanging Man &  Hammer Candle Stick | How to Trade</p>
    </div>

{% elif forloop.counter == 20 %}
        {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep20.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v20.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep20.jpg' %}">
    <a href="{% url 'unlock_video' 20 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep20.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 20 - Inverted Hammer & Shooting Star Candle Stick | How to Trade</p>
    </div>

{% elif forloop.counter == 21 %}
    {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep21.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v21.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep21.jpg' %}">
    <a href="{% url 'unlock_video' 21 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
    {% else %}
    <img src="{% static 'tutorials/ep21.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 21 - Engulfing Candles | How to Trade</p>
    </div>

{% elif forloop.counter == 22 %}
    {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep22.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v22.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep22.jpg' %}">
    <a href="{% url 'unlock_video' 22 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
    {% else %}
    <img src="{% static 'tutorials/ep22.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 22 - Bearish Flag Pattern | Trend Continuation | Entry Exit Target</p>
    </div>

    {% elif forloop.counter == 23 %}
    {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep23.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v23.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep23.jpg' %}">
    <a href="{% url 'unlock_video' 23 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep23.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 23 - Fibonacci Retracement | Tool  Basic</p>
    </div>

{% elif forloop.counter == 24 %}
    {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep24.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v24.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep24.jpg' %}">
    <a href="{% url 'unlock_video' 24 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep24.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 24 - Symmetrical Triangle | Neutral  Pattern</p>
    </div>

{% elif forloop.counter == 25 %}
    {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep25.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v25.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep25.jpg' %}">
    <a href="{% url 'unlock_video' 25 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>    
    {% else %}
    <img src="{% static 'tutorials/ep25.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 25 - RSI Divergence | Trend Reverse</p>
    </div>

{% elif forloop.counter == 26 %}
    {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep26.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v26.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep26.jpg' %}">
    <a href="{% url 'unlock_video' 26 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>  
    {% else %}
    <img src="{% static 'tutorials/ep26.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 26 - Bitcoin Dominance | Altcoin Effect</p>
    </div>

{% else %}
    {% if video.is_unlocked and video.watched_previous %}
    <video class="tutorial-video" controls loop muted poster="{% static 'tutorials/ep27.jpg' %}" controlsList="nodownload" oncontextmenu="return false;">
        <source src="{% static 'tutorials/v27.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% elif not video.is_unlocked and video.watched_previous %}
    <img src="{% static 'tutorials/ep27.jpg' %}">
    <a href="{% url 'unlock_video' 27 %}" class="text-start text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-unlock-fill"></i>Unlock</a>   
    {% else %}
    <img src="{% static 'tutorials/ep27.jpg' %}">
    <a href="#" data-bs-toggle="modal" class="text-decoration-none mt-3 text-danger text-start px-4 fw-bold"><i class="bi bi-lock-fill"></i> Locked</a>
    {% endif %}

    <div class="card-body mt-0">
        <p class="card-text">EP 27 - Risk Reward Ratio | Imotional Control</p>
    </div>

{% endif %}

<script>

document.addEventListener("DOMContentLoaded", function() {
    var videos = document.getElementsByClassName("tutorial-video");
    for (var i = 0; i < videos.length; i++) {
        videos[i].addEventListener("play", function(event) {
            pauseOtherVideos(event.target);
        });
    }
});

function pauseOtherVideos(currentVideo) {
    var videos = document.getElementsByClassName("tutorial-video");
    for (var i = 0; i < videos.length; i++) {
        if (videos[i] !== currentVideo) {
            videos[i].pause();
        }
    }
}

</script>